/*Pseudo class (:)*/

.div1{
	width: 300px;
	height: 100px;
	background-color: green;
}
/*			element*/
/*.div1:first-child{
	background-color: orange;
	color: blue;
}*/

/*.div1:last-child{
	background-color: gray;
	color: blue;
}*/


/*.div1:first-of-type{
	background-color: orange;
	color: blue;
}

.div1:last-of-type{
	background-color: gray;
	color: blue;
}*/


/*.div1:nth-child(5){
	background-color: blue;
	color: #fff;
}
*/


/*.div1:nth-child(even){
	background-color: blue;
	color: #fff;
}*/


/*.div1:nth-child(odd){
	background-color: blue;
	color: #fff;
}*/



/*.div1:nth-of-type(5){
	background-color: blue;
	color: #fff;
}*/


/*.div1:nth-of-type(even){
	background-color: blue;
	color: #fff;
}*/


/*.div1:nth-of-type(odd){
	background-color: blue;
	color: #fff;
}*/


/*Ordinal Number

1st
2nd
3rd
4th
5... nth
*/